body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background: #85c1cc;
    font-family: 'Raleway', sans-serif;
}

#quiz,
#finish-quiz {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.question-card,
#finish-message {
    display: block;
    padding: 20px 80px 20px 50px;
    border: 6px solid #00325d;
    background: #f5f5f5;
}

.question-card {
    position: relative;
}

#finish-message {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px 50px;
    letter-spacing: 2px;
}

.btn-next,
#submit-input {
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-next a,
#submit-input {
    color: #f5f5f5;
    padding: 11px 15px;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-next a {
    background: #127b8d;
}

#submit-input {
    background: #ee8270;
}

.single-answer {
    margin-bottom: 15px;
}

.single-answer label {
    font-size: 1.6rem;
}

.counting::before {
    content: "10";
    animation: finalcountdown 10s forwards 1s;
    color: #00122e;
    font-size: 4rem;
    position: absolute;
    display: block;
    right: 40px;
    bottom: 30px;
}

@keyframes finalcountdown {
    10% {
        content: "9";
    }

    20% {
        content: "8";
    }

    30% {
        content: "7";
    }

    40% {
        content: "6";
    }

    50% {
        content: "5";
    }

    60% {
        content: "4";
    }

    70% {
        content: "3";
    }

    80% {
        content: "2";
    }

    90% {
        content: "1";
    }

    100% {
        content: " ";
    }
}